@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: 0f141e;
}

h3{
    color: #86898f;
    text-align: center;
    width: 100%;
    padding: 10px 0 0 0;
}


a { 
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #0000ff;
}

a:visited {
    color: #808080;
}

@media (max-width: 700px) {
    .info {
        text-align: center;
        display: block;
    }
    .nav {
        display: block;
        font-size: 8px;
    }
}

/* Цвета для контейнеров */
.bg-yellow {
    background-color: #fff9dc;
}

.bg-green {
    background-color: #e5ffe7;
}

.br-lightgreen {
    background-color: #c3fbd8;
}

.bg-red {
    background-color: #ffe5e5;
}

.bg-lightblue {
    background-color: #def7fe;
}

.bg-lilac {
    background-color: #c6d8ff;
}

.bg-aquamarine {
    background-color: #b5f2ea;
}

/* Вверхний див */
.container {
    max-width: 900px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 30px;
}

#avatar {
    width: 235x;
    height: 200px;
    border-radius: 20%;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.35);
}

/* Основная информация */
.info {
    display: flex;
    margin-bottom: 20px;
}

.info-text {
    margin-left: 20px;
}

.info-text p {
    margin: 0;
    font-style: italic;
    font-weight: bold;
}

.social {
    margin-top: 5px;
    margin-left: 20px;
}

/* Желаемая должность */
.post {
    padding: 0px 20px 10px 20px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.post p {
    margin: 0;
}

/* Опыт работы */
.experience {
    padding: 0px 20px 10px 20px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.experience .job {
    display: flex;
    margin: 10px 10px;
    border-bottom: 1px solid #808080;
}

.experience .job .year {
    width: 100px;
    text-align: left;
    font-size: 12px;
}

.experience .job .post {
    width: 150px;
    text-align: left;
}    

.experience .job .desc {
    width: 550px;
    text-align: left;
}

/* Образование */
.education {
    padding: 0px 20px 10px 20px;
    border-radius: 20px;
}

/* Повышение квалификации */
.courses {
    padding: 0px 20px 10px 20px;
    border-radius: 20px;
}

/* Ключевые навыки */
.skills {
    padding: 0px 20px 10px 20px;
    border-radius: 20px;
}

/* Дополнительная информация */
.me {
    padding: 0px 20px 10px 20px;
    border-radius: 20px;
}

.nav {
    width: 100%;
    top: 0;
    position: fixed;
    display: flex;
}

.nav a {
    padding: 10px;
    text-align: center;
    margin: auto;
}

.nav a:hover, .nav a:active, .nav:visited {
    text-decoration: none;
    color: #000000;
}